// app global css in SCSS form

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-card {
    max-width: 400px;
  }
  
  .text-primary {
    color: #1976d2;
  }
  
  .text-center {
    text-align: center;
  }
  
  .q-mt-md {
    margin-top: 20px;
  }